<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
		/>
		<link rel="stylesheet" href="css/constyle.css" />
	</head>
	<body>
		<header class="header">
			<a href="#" class="logo"> SBR. </a>

			<nav class="navbar">
				<div id="nav-close" class="fas fa-times"></div>
				<a href="nav-bar">home</a>
				<a href="startup">Startup Ideas</a>
				<a href="submit">Submit Idea</a>
				<a href="blogservices">Blog Services</a>
				<a href="consultant">Consultant</a>
        <a href="registerConsultant">Register Consultant</a>
				<a href="#blogs">About Us</a>
				<a href="login.html" class="btns">Sign Up</a>
			</nav>

			<div class="icons">
				<div id="menu-btn" class="fas fa-bars"></div>
				<!---- <div id="search-btn" class="fas fa-search"></div>----->
			</div>
		</header>
		<section class="category">
			<h1 class="heading">Profile!</h1>
		
	
                    
            
<div class="cardConsult">
    <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" style="width:100%">
    <div class="containerConsult">
      <h4><b>John Doe</b></h4> 
      <p>Architect & Engineer</p> 
      <div>
        <a class="buttonConsult  button1Consult " href="bookAppointment" >Book Appointment</a>
        <a class="buttonConsult  button1Consult " href="/video">Contact Us</a>
      </div>
    </div>
  </div>
  </section>
		<script src="js/script.js"></script>
	</body>
</html>
