<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dairy farming</title>
    <link rel="stylesheet" href="dairy.css">
</head>
<body>
    
    <h2>Blog services of Dairy farming</h2>
    
    
    <p>Dairy farming in Pakistan is practiced mainly by the private sector on various scales, in both urban and rural settings.
        However, the sector is generally characterized as fragmented and subsistence. With the exception of some peri-urban units,
         most dairy farming is practiced in mixed crop-livestock systems.<br>
        1:Choose a Good Location.<br>
        2:Choose the type of cow or buffalo.<br>
        3:Register your dairy business with respective authorities.<br>
        4:Get all your licences and permits.<br>
        5:If you're farming with cattle, rent or buy the necessary types of equipment<br>
        
        
        
        Before starting a dairy business, it is highly recommended to survey the market and work for an established dairy business to understand the whole process of the business. An efficient dairy business depends mainly upon the animals (usually cows and buffaloes) and land. To minimize expenses, one can get rented land and buy used equipment. However, if the quality of the livestock is poor, continuous rebuilding of milk producing herds will occur – an untimely and costly exercise. Also the initial cost can be reduced by utilizing existing infrastructure, rather than setting up own infrastructure., After surveying the market, locations should be selected from where one can buy animals and Chara. Inner Punjab has low prices as compared to other areas. Proper water reservoirs are very important to setup a dairy farm. The Government is assisting in providing the facility of making reservoirs in dairy farms by providing 70% expenses. Also, the Government is providing vaccination facilities for the animals.
        
        Purchasing  land and selection of location is of major importance because it affects the profitability margins and cost of the business. If land is purchased near to main markets or cities, transportation costs would be less as well as ease of access to other facilities.  Moreover, producers can directly sell the milk to various customers in the cities at a high price. However, if the land is far from cities and major markets, the alternative is to ally with the larger dairy customers such as Nestle, and sell the produce to them..
        </p>
       <h3> Major Requirements</h3>
        
       <h3>Animals</h3> 
        
       <p> For a start, it is recommended to have 20 animals (15 buffaloes and 5 cows)</p>
        
        <h3>Shed</h3>
        
       <p> A proper shed will be required with its surrounding infrastructure. One can make different styles of shed depending upon the requirements and animal capacity.</p>
        
        <h3>Land</h3>
        
        <p>A land of around 50 kanals would be required which would include the shed, proper arrangement of water and area to dump and to grow Chara.</p>
        
       <h3> Employees</h3>
        
        <p>On average one employee is required for every 10 animals. And one cleaner would be required for the area. So, on average 3 persons are required for 20 animals depending upon the owner.</p>
        
        <h3>Marketing</h3>
        
        <p>Before the start of the business, it would be a mistake not to survey the market. As mentioned, land should be near to markets, and if not, different buyers should be identified who require a constant supply of milk.</p>
        
        <h3>Process and expenses</h3>
        
        <p>After setting up the requisite infrastructure for the long run, at an approximate cost of Rs. 5 million, including the shed, animals and employees and not the land and water reservoir, the average expenses on 1 animal is 250, which includes the expenses of transportation, Chara, and employees pay of around Rs. 5000 per employee. This can be reduced depending upon the efficiency of the producer. One animal gives around 10 liters of milk every day using a yearly average. Which means 20 animals will give.200 liters of milk at a cost of Rs.5000. And if the land is near the markets and a producer can sell the milk at around 45 per liter, he would get Rs.9000 per day for Rs.200 liters and after deducting the cost of Rs.5000 that means he would be getting a profit of Rs.4000 per day or Rs.120,000 per month. This profit can be increased, if one can reduce the cost per animal by getting chara and transport facilities at low cost. Keep in mind that this profit can be achieved only if the land is in suburbs of main cities or near markets.<br>
        
        It is advisable the animals should be crossed by specific time intervals because after a year, milking capacity of animals is reduced. By crossing at proper intervals, one can retain the milk production capacity and can also increase the herd size. Moreover, for a long run business, it is advisable to save an amount of profit and from that saving; one should keep increasing the herd size. If a person has saved Rs.85,000 every month from the profit of Rs.120,000, after a year he would have around 1 million. And from this amount he cans double the production capacity by the next year. And within 5 years, an efficient entrepreneur can expand and grow the business by more than 500%.<br>
        
        One can also use machines for the milking process and chiller vans for transportation of milk without reducing its quality. Milking machines and chiller vans should be bought by making a feasibility assessment of costs versus benefits and the effects on the profit margins. If the land is not in the suburbs of cities or main markets, chiller tanks would be required for storage of milk without reducing the quality.<br></p>
        
        <h3>Potential Clientele</h3>
        
        <p>If the land is near the markets or main cities, there are numerous clients of this business. It could be sold to hotels, restaurants, shopkeepers and homes. But if the land and infrastructure is far away from the main cities, then to reduce the transportation cost, producers can sell the milk to big companies like Nestle or Nurpur at a low price.<br></p>
        
      
        </p>
</body>
</html>