h2{font-family:Georgia, 'Times New Roman', Times, serif; font-size: 30px; font-weight: bold; color: #219150; letter-spacing: 2px; margin-left: 500px;}

p{font-family: Arial, Helvetica, sans-serif; font-size: 15px; letter-spacing: 1px; }

h3{font-family:Georgia, 'Times New Roman', Times, serif; font-size: 30px; font-weight: bold; color:gray; letter-spacing: 2px;}

