<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fish farming</title>
    <link rel="stylesheet" href="fish.css">
</head>
<body>
    <h2>Fish farming</h2>
    <p>Even if you’re not good at fishing, you can start up this thriving business. Let us tell you how to do this</p>

    <h3>Business plan</h3> 

 <p>Find a suitable place in your home and dig a pond, and if you haven’t any space, search for a bigger aquarium. Fishes can be<br> raised in tubs, containers and even bigger tubes.<br>
Lab test your water for purity.<br>
Identify your market before choosing the fish type.<br>
Identify frequency, a quantity of supply and demand, etc.<br>
Develop a clear understanding of what exactly your budget is.<br>
Develop an understanding of the fish feed and source of procurement.<br>
Keep in mind the frequency of harvesting and supply to the market; fish consumption decreases in summers in Pakistan.<br>
Decide how to get the fish to the market.<br>
Create a solid marketing strategy<br>
Arrange the following equipment:<br>
Aquarium or fish tank<br>
Pumps
Aeration Devices<br>
Net or Seine Reels<br>
Handling Equipment<br>
Water testing equipment<br>
It is one of the best business in karachi.<br>
</p>
</body>
</html>