<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>complete responsive adventure & tour website design</title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    

    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <!-- custom css file link  -->
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    
<!-- header section starts  -->

<header class="header">

    <a href="#" class="logo">  SBR. </a>

    <nav class="navbar">
    <div id="nav-close" class="fas fa-times"></div>
   <a href="#home">home</a>
   <a href="startup">Startup Ideas</a>
   <a href="submit">Submit Idea</a>
   <a href="blogservices">Blog Services</a>
   <a href="consultant">Consultant</a>
   <a href="#foot">About Us</a>
   <a href="index" class="btns">Sign Up</a>
 
    </nav>

    <div class="icons">
        <div id="menu-btn" class="fas fa-bars"></div>
       <!---- <div id="search-btn" class="fas fa-search"></div>----->
    </div>

</header>

<!-- header section ends -->

<!-- search form -- 

<div class="search-form">

    <div id="close-search" class="fas fa-times"></div>

    <form action="">
        <input type="search" name="" placeholder="search here..." id="search-box">
        <label for="search-box" class="fas fa-search"></label>
    </form>
</div>
---->

<!-- home section starts  -->


<section class="home" id="home">

    <div class="swiper home-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide">
            
                <div class="box" style="background: url(images/b5.jpeg) no-repeat;"></video>
                   
                    <div class="content">
                        
                        <h3>Welcome to SBR</h3>
                        <p>“Embrace what you don’t know, especially in the beginning,<br> because what you don’t know can become your greatest asset.<br> It ensures that you will absolutely be doing things different from everybody else.”</p>
                       
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="box second" style="background: url(images/i2.jpeg) no-repeat;">
                    <div class="content">
                        
                        <h3>Welcome to SBR</h3>
                        <p>“Embrace what you don’t know, especially in the beginning,<br> because what you don’t know can become your greatest asset.<br> It ensures that you will absolutely be doing things different from everybody else.”</p>
                       
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="box" style="background: url(images/b3.jpeg) no-repeat;">
                    <div class="content">
                      
                        <h3>Welcome to SBR</h3>
                        <p>“Embrace what you don’t know, especially in the beginning,<br> because what you don’t know can become your greatest asset.<br> It ensures that you will absolutely be doing things different from everybody else.”</p>
                      
                    </div>
                </div>
            </div>

        </div>

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>

    </div>

</section>

<!-- home section ends -->

<!-- motivate section starts  -->


<section class="about" id="about">

    <div class="image">
        <img src="images/u1.jpg" alt="">
    </div>

    <div class="content">
        <h3>SUCCESS IS NOT SKILL ITS AN ATTITUDE</h3>
        <p>Step out of the history that is holding you back. Step into the new story you are willing to create.</p>
        <p>Our greatest weakness lies in giving up. The most certain way to succeed is always to try just one more time.</p>
        <p>If you can't fly then run. If you can't run, then walk. If you can't walk, then crawl, but whatever you do, you have to keep moving forward.</p>
      
    </div>

</section>


<!-- motivate section ends -->
 

<!-- reviews section starts  -->

<section class="reviews" id="reviews">

    <h1 class="heading">client's reviews</h1>

    <div class="swiper review-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide slide">
                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia quidem laborum pariatur alias, culpa illum quaerat, aliquid laboriosam voluptatem nisi repellat obcaecati, adipisci esse ab delectus dolorum ut recusandae ipsam?</p>
                <div class="user">
                    <img src="images/c1.jpg" alt="">
                    <div class="info">
                        <h3>Nazak alak</h3>
                        <!--<span>designer</span>--->
                    </div>
                </div>
            </div>

            <div class="swiper-slide slide">
                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia quidem laborum pariatur alias, culpa illum quaerat, aliquid laboriosam voluptatem nisi repellat obcaecati, adipisci esse ab delectus dolorum ut recusandae ipsam?</p>
                <div class="user">
                    <img src="images/c2.jpg" alt="">
                    <div class="info">
                        <h3>Satti</h3>
                       <!----- <span>designer</span>--->
                    </div>
                </div>
            </div>

            <div class="swiper-slide slide">
                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia quidem laborum pariatur alias, culpa illum quaerat, aliquid laboriosam voluptatem nisi repellat obcaecati, adipisci esse ab delectus dolorum ut recusandae ipsam?</p>
                <div class="user">
                    <img src="images/c3.jpg" alt="">
                    <div class="info">
                        <h3>Shah</h3>
                      <!----  <span>designer</span>---->
                    </div>
                </div>
            </div>

            <div class="swiper-slide slide">
                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia quidem laborum pariatur alias, culpa illum quaerat, aliquid laboriosam voluptatem nisi repellat obcaecati, adipisci esse ab delectus dolorum ut recusandae ipsam?</p>
                <div class="user">
                    <img src="images/c1.jpg" alt="">
                    <div class="info">
                        <h3>nazak alak</h3>
                       <!----- <span>designer</span>---->
                    </div>
                </div>
            </div>

            <div class="swiper-slide slide">
                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia quidem laborum pariatur alias, culpa illum quaerat, aliquid laboriosam voluptatem nisi repellat obcaecati, adipisci esse ab delectus dolorum ut recusandae ipsam?</p>
                <div class="user">
                    <img src="images/c2.jpg" alt="">
                    <div class="info">
                        <h3>satti</h3>
                      <!-----  <span>designer</span>---->
                    </div>
                </div>
            </div>

            <div class="swiper-slide slide">
                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia quidem laborum pariatur alias, culpa illum quaerat, aliquid laboriosam voluptatem nisi repellat obcaecati, adipisci esse ab delectus dolorum ut recusandae ipsam?</p>
                <div class="user">
                    <img src="images/c3.jpg" alt="">
                    <div class="info">
                        <h3>shah</h3>
                     <!-----   <span>designer</span>--->
                    </div>
                </div>
            </div>

        </div>

    </div>

</section>

<!------------review end-->

<!-- dailypost section starts  -->

<section class="blogs" id="blogs">

    <h1 class="heading"> our daily posts </h1>

    <div class="swiper blogs-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide slide">
                <img src="images/d1.jpg" alt="">
                <div class="icons">
                    <a href="#"> <i class="fas fa-calendar"></i> 27st jan, 2022 </a>
                    <a href="#"> <i class="fas fa-user"></i> by admin </a>
                </div>
                <h3>Property Dealing.</h3>
                <p>Real estate cannot be lost or stolen, nor can it be carried away.</p>
              <!----  <a href="#" class="btn">read more</a>--->
            </div>

            <div class="swiper-slide slide">
                <img src="images/img-2.jpg" alt="">
                <div class="icons">
                    <a href="#"> <i class="fas fa-calendar"></i> 27st jan, 2022 </a>
                    <a href="#"> <i class="fas fa-user"></i> by admin </a>
                </div>
                <h3>Poultry farming.</h3>
                <p>Take rest a field that has rested gives a bountiful crop.</p>
               <!---- <a href="#" class="btn">read more</a>---->
            </div>

            <div class="swiper-slide slide">
                <img src="images/d2.jpg" alt="">
                <div class="icons">
                    <a href="#"> <i class="fas fa-calendar"></i> 27st jan, 2022 </a>
                    <a href="#"> <i class="fas fa-user"></i> by admin </a>
                </div>
                <h3>Coffee Shop.</h3>
                <p>Never say no to coffee.</p>
                <!--<a href="#" class="btn">read more</a>--->
            </div>

            <div class="swiper-slide slide">
                <img src="images/d1.jpg" alt="">
                <div class="icons">
                    <a href="#"> <i class="fas fa-calendar"></i> 27st jan, 2022 </a>
                    <a href="#"> <i class="fas fa-user"></i> by admin </a>
                </div>
                <h3>Property Dealing.</h3>
                <p>Real estate cannot be lost or stolen, nor can it be carried away.</p>
                <!---<a href="#" class="btn">read more</a>--->
            </div>

            <div class="swiper-slide slide">
                <img src="images/img-2.jpg" alt="">
                <div class="icons">
                    <a href="#"> <i class="fas fa-calendar"></i> 27st jan, 2022 </a>
                    <a href="#"> <i class="fas fa-user"></i> by admin </a>
                </div>
                <h3>Poultry farming.</h3>
                <p>Take rest a field that has rested gives a bountiful crop.</p>
               <!---- <a href="#" class="btn">read more</a>---->
            </div>

            <div class="swiper-slide slide">
                <img src="images/d2.jpg" alt="">
                <div class="icons">
                    <a href="#"> <i class="fas fa-calendar"></i> 27st jan, 2022 </a>
                    <a href="#"> <i class="fas fa-user"></i> by admin </a>
                </div>
                <h3>Coffee Shop.</h3>
                <p>Never say no to coffee.</p>
              <!----  <a href="#" class="btn">read more</a>--->
            </div>

        </div>

    </div>

</section>

<!-- dailypost section ends -->

 
 





 <!-- footer section starts  -->
 <sec id="foot">

<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3>quick links</h3>
            <a href="#home">home</a>
            <a href="#about">about</a>
            <a href="#shop">shop</a>
            <a href="#packages">packages</a>
            <a href="#reviews">reviews</a>
            <a href="#blogs">blogs</a>
        </div>

        <div class="box">
            <h3>extra links</h3>
            <a href="#">my account</a>
            <a href="#">my order</a>
            <a href="#">my wishlist</a>
            <a href="#">ask questions</a>
            <a href="#">terms of use</a>
            <a href="#">privacy policy</a>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <a href="#"> <i class="fas fa-phone"></i> +92485271700 </a>
            <a href="#"> <i class="fas fa-phone"></i> +92339844651 </a>
            <a href="#"> <i class="fas fa-phone"></i> +923329630965 </a>
            <a href="#"> <i class="fas fa-envelope"></i> sbr123@gmail.com </a>
            <a href="#"> <i class="fas fa-map"></i> islamabad, pakistan - 400104 </a>
        </div>

        <div class="box">
            <h3>follow us</h3>
            <a href="#"> <i class="fab fa-facebook-f"></i> facebook </a>
            <a href="#"> <i class="fab fa-twitter"></i> twitter </a>
            <a href="#"> <i class="fab fa-instagram"></i> instagram </a>
            <a href="#"> <i class="fab fa-linkedin"></i> linkedin </a>
            <a href="#"> <i class="fab fa-github"></i> github </a>
        </div>

    </div>

    <div class="credit">created by <span>Nazak alak</span> | all rights reserved!</div>

</section>
</sec>

<!-- footer section ends -->














<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

<!-- custom js file link  -->
<script src="js/script.js"></script>

</body>
</html>