<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poultry Farming</title>
    <link rel="stylesheet" href="poultary.css">
</head>
<body>
    <h2>Poultry Farming</h2>
    <h3>Some Facts </h3>

    <p>The poultry sector generates employment and income for about 1.5 million people.<br>
        The poultry sector is one of the most organized branches of the agro-based sector of Pakistan.
         Its growth rate is 10-12% per annum.<br>
        40-45% of the total meat consumption is being procured from poultry products.</p>

<h3>The poultry business contains four major sectors:</h3>

<p>Chicken Breeding/Hatchery
Meat Production/Broilers Breeding
Egg Production/Layers of Breeding
Poultry Feed Production<br>
Now, if you’re confident that you can handle all four domains – both administratively and financially – good luck from us! And if not, you may better trust yourself and jump into any one of these stages.<br>

When you have decided your area of interest, you should focus on what type of bird you should choose. It is suggested that a maximum of two or three types of birds are enough for a starter. In Pakistan, we generally lay hands-on domestic chickens for broilers and layers. Other available options include turkey, duck, and goose.<br></p>

<h3>Methods of Poultry Farming</h3>
<p> Different methods of poultry farming are being used in Pakistan. Earlier, it was the intensive poultry farming method where the farmer/housekeepers would take extreme care of the chicks and produce poultry throughout the year.<br>

Today, in commercial poultry farming, we use land, labor, feed and a number of other resources to get good results. Two major types of commercial farming include layer poultry farming and broiler poultry farming.<br>

 <h3>What skills are required?</h3>

 <p>When you deal with livestock, you must be aware of the animals’ feed, the environment they live in, their behaviours and most importantly, the diseases they are likely to get in different seasons of the year and appropriate vaccinations.<br></p>

So it’s better to do proper research or hire someone who could manage things for you.

<h3>Poultry Farming Business Plan</h3>

<p>No matter how great a business plan is, financial affordability and technical feasibility decide whether you should go for it or not.<br></p>

<p>Now, since you know your budget and your area of interest – hatching, egg production or meat production – prepare a comprehensive report that should take care of every detail, including required area, investment, birds, equipment, resources, marketing, and clientele, etc.<br></p>
</body>
</html>