<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p><%=description?.slice(0,500)%></p>
    <p><%=description?.slice(500,800)%></p>
    <p><%=description?.slice(800,1500)%></p>
   
</body>
</html>